.loading-ui {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px #0000007d;
}

.main {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;    
        background-color: var(--color-heading-bg);
        background-image: url('./Data/Images/main.jpg');
        background-blend-mode: color;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include respond(res800) {
            display: block;
            // @include clearFix;
        }

        &-title {
            text-align: center;
            margin-left: 10rem;
            margin-right: auto;
            color: var(--color-primary-light);

            letter-spacing: 3px;

            @include respond(res1000) {
                margin-left: 5rem;
            }

            @include respond(res800) {
                padding-top: 12rem;
                margin-left: 0;
            }

            &--name {
                display: block;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 3rem;

                @include respond(res1200) {
                    font-size: 3rem;
                }

                @include respond(res1100) {
                    font-size: 3rem;
                }

                @include respond(res800) {
                    font-size: 5rem;
                }

                @include respond(res700) {
                    font-size: 4rem;
                }

                @include respond(res600) {
                    font-size: 3rem;
                }

                @include respond(res500) {
                    font-size: 2.5rem;
                }
            }
            
            &--position {
                display: block;
                text-transform: uppercase;
                font-size: 3rem;

                @include respond(res800) {
                    font-size: 4rem;
                }

                @include respond(res700) {
                    font-size: 3rem;
                }

                @include respond(res600) {
                    font-size: 2.5rem;
                }
            }
        }
    }

    &__picture {
        position: relative;
        height: 30rem;
        border-radius: 50%;
        overflow: hidden;
        top: 10rem;
        right: 10rem;

        @include respond(res1100) {
            right: 5rem;
        }

        @include respond(res800) {
            position: relative;
            width: 30rem;
            margin: 0 auto;
            margin-bottom: 10rem;
            right: 0;
        }

        &--photo {
            height: 100%;
        }
    }

    &__about {
        width: 80%;
        padding: 5rem;
        text-align: justify;

        @include respond(res1100) {
            width: 100%;
        }

        @include respond(res800) {
            padding: 2rem;
        }

        & > h2 {
            text-align: center;
            margin-bottom: 5rem;

            @include respond(res800) {
                margin-bottom: 2rem;
            }
        }

        & > p {
            text-indent: 10rem;

            @include respond(res700) {
                height: 10rem;
                overflow: hidden;
            }
        }& > button {
            opacity: 0;
            visibility: 0;
            margin-top: 2rem;
            border: none;
            padding: 5px;
            color: var(--color-primary);

            &:hover {
                color: white;
                background-color: var(--color-primary);
            }

            @include respond(res700) {
                opacity: 1;
                visibility: visible;
            }
        }


    }
}

.collapse-height {
    height: 100% !important;
}