:root {
    // --color-primary: #eb2f64;
    // --color-primary-light:#FF3366;
    // --color-primary-dark: #BA265D;

    --color-primary: #605e5e;
    --color-primary-light:#101010;
    --color-primary-dark: #333232;

    // --color-primary: blue;
    // --color-primary-light:red;
    // --color-primary-dark: green;

    --color-white-1: #ffffff;
    --color-white-2: #e8e8e8;
    --color-white-3: #e0e0e0;
    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 1px 2px 1px rgba(0, 0, 0, .5);

    ///Main Section
    --color-heading-bg: #333;

    // Progress Bar
    --color-progress-bar: #0fe60c;
    --color-progress-label: #faf9f9;

    // Project
    --color-project-bg:#f7efeff2;
}