.navigation {
    display: flex;
    align-items: center;
    // border-top: 1px solid var(--color-grey-light-2);
    border: 1px solid var(--color-grey-light-2);
    // position: relative;

    @include respond(res1000) {
        display: block;
    }
    
    &__logo {
        height: 5rem;
        overflow: hidden;
        margin: 1rem auto 1rem 1rem;
        
        &--file {
            height: 100%;
        }
    }

    &__button {
        opacity: 0;
        visibility: 0;
        width: 0;
    }

    &__label {
        opacity: 0;
        visibility: 0;
        width: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(res1000) {
            opacity: 1;
            visibility: 1;

            position: absolute;
            top: 1rem;
            right: 1rem;

            width: 6rem;
            height: 6rem;
            background-color: var(--color-primary);
            border-radius: 50%;
            box-shadow: var(--shadow-dark);
        }

        & > span {
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                display: block;
                background-color: black;
            }
            
            &::before,
            &::after {
                content: "";
                transition: all .3s;
            }
            
            &::before {
                transform: translateY(-.7rem);
            }

            &::after {
                transform: translateY(.5rem);
            }
        }
    }

    &__button:checked ~&__label > span {
        & {
            background-color: transparent;
        }

        &::before {
            transform: rotate(-45deg) translateY(.1rem);
        }
        &::after {
            transform: rotate(-135deg) translateY(.2rem);
        }
    }

    &__button:checked ~&__list {
        @include respond(res1000) {
            opacity: 1;
            height: 35rem;
        }
    }
    
    &__list {
        align-self: stretch;
        
        @include respond(res1000) {
            transition: all .8s;
            opacity: 0;
            height: 0;
        }
    }
    
    &__item {
        list-style: none;
        display: inline-block;
        padding: .5rem 1rem;
        // height: 100%;
        align-items: stretch;
        min-width: 10rem;
        text-align: center;
        position: relative;

        @include respond(res1200) {
            padding: .3rem .5rem;
            min-width: 5rem;
        }

        @include respond(res1100) {
            padding: .3rem .1rem;
            min-width: 5rem;
        }

        @include respond(res1000) {
            display: block;
        }
        
        // &:hover {
        //     background-color: var(--color-primary-light);
        //     // box-shadow: 0 1rem 2rem rgba(black, .3);
        // }

        &::before {
            content: '';
            height: 3px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            background-color: var(--color-primary);
            transition: transform .4s, 
                        height .4s cubic-bezier(1,0,0,1) .4s,
                        background-color .1s;
        }
        
        &:hover::before {
            transform: scaleX(1);
            height: 100%;
        }

        &--active {
            background-color: var(--color-primary);
        }
    }
    
    &__item--active &__link {
        color: white !important;
    }
    
    &__item:hover &__link {
        // color: var(--color-grey-light-1);
    }
    
    &__link {
        &:link,
        &:visited {
            font-weight: 700;
            color: var(--color-grey-dark-1);
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 1.5rem 3rem;

            display: flex;
            align-items: center;

            position: relative;
            z-index: 10;
        }
    }
}